.idea
.rvmrc
*.gem
*.rbc
*.DS_Store
/tmp/
build/
/.yardoc/
/_yardoc/
/rdoc/
/.bundle/
/vendor/bundle
/lib/bundler/man/
Gemfile.lock
/doc/**
!/doc/.gitkeep
/features/**
!/features/.gitkeep
/bin/**
!/bin/features-packager
!/bin/setup
!/bin/console
Gemfile.lock
